body {
  font-family: 'Lato','Roboto Mono',sans-serif;
}
a {
  text-decoration: none;
  color: #212529;
  display: block;
}
p>a {
  display: inline;
}
td>a {
  display: inline;
}
ul {
  list-style-type:none
}
main {
  max-width: 1280px;
  margin: 0 auto;
}