.logo {
  padding: 32px;
  a {
    width: 151px;
    height: 40px;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/logo-ANSWER.svg);
  }
}
.text-indent {
  text-indent: 16px;
}
.a-icon {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  &:hover {
    color: #198754;
  }
}
.table-icon,.model-icon {
  &:hover {
    color: #198754;
  }
}
.text-placehold {
  color: #CED4DA;
}
.page-link {
  color: #198754;
  &:hover {
    background-color: #198754;
    color: #fff;
  }
  &:active {
    background-color: #198754;
    color: #fff;
  }
  &:focus {
    background-color: #198754;
    color: #fff;
  }
}