.fs-12 {
  font-size: 12px;
}
.fs-20 {
  font-size: 20px;
}
.lh-33 {
  line-height: 33px;
}
.p-32 {
  padding: 32px;
}
.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}
.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.mb-6 {
  margin-bottom: 6px;
}
.mb-18 {
  margin-bottom: 18px;
}
.me-23 {
  margin-right: 23px;
}
.ms-7 {
  margin-left: 7px;
}